extends layout

block content
  h1= title
  
  -const results = [{ author: "James Patterson", price: 200, publishedyear: 2001 },{ author: "C J Box", price: 350, publishedyear: 2005},{author: "Michael Connelly", price: 450, publishedyear: 1998 }]

  div(class="container-fluid")
  div(class="row")
    each item,index in results
      div(class="col-sm-2" onclick=`buy(${index})`)
        p author: #{item.author}
        p price: $#{item.price}
        p publishedyear: #{item.publishedyear}
  script.
    function buy(index)
    {
      alert(`You purchased Item ${index+1}`)
    }